<h2>All Products</h2>

<% if products.any? %>
  <div id="products">
    <% products.each do |product| %>
      <div class="product">
        <h2><%= product.product_name %></h2>
        <p><%= product.quantity %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no products yet.</p>
<% end %>
